<h2><%= @component %></h2>

<h3>Ruby call</h3>
<pre>
  <code class="language-ruby">&lt;%= render_component("<%= @component %>", {properties as below}) %&gt;</code>
</pre>

<h3>Parameters</h3>
<pre>
  <code class="language-ruby"><%= "test".gsub(/\"(\S+)?\":/, '\1:') %></code>
</pre>
